@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol {
    list-style-type: none;
}
:root {
    --primary-color: #d42028;
    --primary-light: #f01823;
    --primary-pink: #fbf3f4;
    --secondary-color: #fefcfd;
    --text-color: #343434;
    --text-gray: #707070;
    --white: #ffffff;
    --success-color: #3c9a03;
    --warning-color: #ffcb02;
    --font-primary: "Poppins", sans-serif;
    --font-heading: "Roboto", sans-serif;
    --border-radius: 8px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-primary);
}
button,
input {
    border: none;
    outline: none;
    background-color: transparent;
}
.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}
.main-hero {
    background-color: var(--primary-light);
}
.m-head {
    text-align: center;
    padding: 50px;
}
.m-head h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    text-transform: uppercase;
    color: var(--white);
    margin: 20px;
    position: relative;
}

.word {
    display: inline-block;
    opacity: 0;
    transform: translateX(-50px);
    transition: transform 0.8s ease, opacity 0.8s ease;
    margin-right: 10px;
    position: relative;
}

.word.last {
    color: var(--white);
    font-style: normal;
    padding: 0 10px;
    height: 80px;
}

.word.last::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--white);
    z-index: -1;
    transition: width 0.8s ease;
}

.word.show {
    transform: translateX(0);
    opacity: 1;
}

.word.last.show {
    color: var(--primary-light);
    font-style: italic;
}

.word.last.show::before {
    width: 100%;
    transition-delay: 0.2s;
}
.vs-search-box {
    background: var(--white);
    margin: -102px auto 0;
    padding: 24px;
    border-radius: 12px;
    max-width: 1200px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 0px 4px 8px 0px #a5a5a529;
}
.vs-search-box h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--text-color);
}
.vs-search-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: end;
}
.vs-search-controls h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-gray);
    margin: 0 0 12px 0;
    font-family: var(--font-heading);
}
.vs-filter-input {
    display: flex;
    align-items: center;
    gap: 4px;
}
.vs-search-input {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 13px 12px;
    box-shadow: 0px 4px 8px 0px #a5a5a529;
    border: 1px solid #e5e2e2;
    border-radius: 12px;
    background: var(--white);
    min-width: 324px;
}
.vs-search-input i {
    margin-right: 10px;
    font-size: 18px;
    color: var(--text-color);
}
.vs-search-input input {
    border: none;
    outline: none;
    flex: 1;
}
.vs-search-input.active {
    border: 1px solid var(--text-color);
}
.vs-search-input input.has-text {
    color: var(--text-color);
}

.vs-search-input input {
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 16px;
    color: var(--text-gray);
    line-height: 24px;
}
.vs-dropdown i {
    transition: transform 0.3s ease;
    color: var(--text-color);
}
/* filter css */
/* FILTER CONTAINER */
.vs-filter-input {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    width: -webkit-fill-available;
    border: 1px solid #e6e2e2 !important;
    padding: 12px 14px;
    margin: 5px;
    border-radius: 8px;
    font-family: var(--font-heading);
    font-size: 14px;
    color: var(--text-color);
}
/* DROPDOWN WRAPPERS */
.vs-select-wrapper {
    min-width: 160px;
    padding: 11px 12px;
    border: 1px solid #e5e2e2;
    border-radius: 12px;
    background: var(--white);
    box-shadow: 0px 4px 8px #a5a5a529;
    cursor: pointer;
    position: relative;
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 16px;
    overflow: visible !important;
    min-height: 52px;
    max-height: 52px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--text-gray) !important;
}

.select2-container--open .select2-dropdown--above {
    border-radius: 12px !important;
    border: 1px solid #dcdcdc !important;
}

.vs-chevron {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
    font-size: 14px;
    pointer-events: none;
    transition: transform 0.4s ease;
}

.select-open .vs-chevron {
    transform: translateY(-50%) rotate(180deg);
}

.vs-select {
    appearance: none;
    background: transparent;
    padding-right: 30px;
    width: 100%;
}
.select2-container {
    width: 100% !important;
    position: static !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0 !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #f5f4f4 !important;
}
.select2-results__option--selectable {
    padding: 10px !important;
    cursor: pointer !important;
    font-family: var(--font-heading);
    transition: background 0.2s !important;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color) !important;
}

.select2-container--open .select2-dropdown--below {
    background: var(--white) !important;
    border: 1px solid #e5e2e2 !important;
    box-shadow: 0px 4px 8px 0px #a5a5a529 !important;
    border-radius: 12px !important;
}
.select2-container--default .select2-selection--single {
    border: none !important;
    background: transparent;
    padding-left: 0;
    height: 42px;
}

.select2-selection--single.red-selected .select2-selection__rendered {
    color: var(--text-color) !important;
}

.select2-container--default .select2-selection--single:focus,
.select2-container--default.select2-container--open .select2-selection--single {
    border: none;
    outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}

.select2-container--open .select2-dropdown {
    position: absolute !important;
    top: 100% !important;
    bottom: auto !important;
    transform: none !important;
    width: 100% !important;
    left: 0 !important;
    margin-top: 6px !important;
    z-index: 9999;
    border-radius: 12px;
    background: var(--white);
    border: 1px solid #dcdcdc;
    font-family: var(--font-heading);
    font-size: 15px;
    box-shadow: var(--shadow);
}

.select2-results__option {
    padding: 10px 14px;
    color: var(--text-color);
    transition: background 0.2s;
}

.select2-results__option--highlighted {
    background-color: #e7f0ff;
    color: var(--accent-color);
}
.year-range {
    display: flex;
    align-items: center;
    width: 225px;
    padding: 11px 0 11px 12px;
    border-radius: 12px;
    background: var(--white);
    box-shadow: 0px 4px 8px #a5a5a529;
    justify-content: space-between;
    min-height: 52px;
    max-height: 52px;
    border: 1px solid #e5e2e2;
}
.year-range .select2-selection__rendered {
    margin: 12px 0;
}
.year-label {
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 16px;
    color: var(--text-gray);
    line-height: 24px;
    white-space: nowrap;
    margin-right: 10px;
}
.year-select-wrapper {
    display: flex;
    gap: 0;
}
.year-select-wrapper .vs-select-wrapper {
    min-width: unset !important;
    width: 75px !important;
    border: none;
    border-left: 1px solid #d9d9d9;
    border-radius: 0;
    box-shadow: none;
    padding: 0 10px;
    background: transparent;
}

.year-select-wrapper .vs-select-wrapper i {
    right: 10px;
}

.year-select-wrapper .vs-select-wrapper .vs-select {
    width: 100%;
}
/* filter css */
.vs-search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--primary-color);
    color: white;
    padding: 14px 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.vs-search-btn:hover {
    background-color: var(--primary-light);
}
.vs-no-results {
    font-family: var(--font-heading);
    padding: 10px;
    font-size: 14px;
    color: var(--text-gray);
}
.vs-dropdown-search input {
    width: -webkit-fill-available;
    border: 1px solid #e6e2e2;
    padding: 12px 14px;
    margin: 5px;
    border-radius: 8px;
    font-family: var(--font-heading);
    font-size: 14px;
    color: var(--text-color);
}
.vs-dropdown-search input:focus {
    border-color: var(--text-color);
}
.vs-year-dropdown .vs-dropdown-menu {
    width: 220%;
    right: 0;
    top: 170%;
}
.vs-year-dropdown .vs-dropdown-list {
    min-height: 200px;
    max-height: 200px;
    overflow-y: auto;
}
/* search by type section */
.search-main {
    background-color: var(--secondary-color);
    clip-path: ellipse(80% 55% at 50% 38%);
}
.search-by {
    position: relative;
    max-width: 1200px;
    padding: 60px 0 110px 0;
}
.tab-button-group {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.tab-button {
    padding: 18px 32px;
    border-radius: 9999px;
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
    border: 1px solid #e5e2e2;
    color: var(--text-color);
}
.tab-button.active {
    border: 1px solid var(--primary-color);

    color: var(--primary-color);
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 12px;
    width: 100%;
    margin: 48px 0;
    padding: 0 16px;
    box-sizing: border-box;
}

.grid-item {
    background-color: var(--white);
    border-radius: 12px;
    padding: 28px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 164px;
    box-shadow: 0px 4px 8px 0px #a5a5a529;
    transition: transform 0.2s ease;
    border: 1px solid transparent;

    width: 100%; /* Let the grid define the width */
    box-sizing: border-box;
}

.grid-item:hover {
    border: 1px solid #d42028;
    cursor: pointer;
}
.arrow-icon {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    margin-left: 6px;
}
.grid-item:hover .grid-item-title {
    color: var(--primary-color);
}
.grid-item:hover .arrow-icon {
    opacity: 1;
    visibility: visible;
}
.grid-item img {
    height: auto;
    max-width: 124px;
}
.grid-item-title {
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}
.pagination-dots {
    display: flex;
    justify-content: center;
}
.dot-hero,
.dot {
    width: 8px;
    height: 8px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    margin: 0 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.dot-hero.active,
.dot.active {
    background-color: var(--primary-color);
}
.nav-button,
.nav-arrow {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
    position: absolute;

    border: 1px solid var(--primary-color);
    color: var(--primary-color);

    z-index: 10;
}
.nav-arrow {
    top: 50%;
    transform: translateY(-50%);
}
.nav-button:hover,
.nav-arrow:hover {
    background-color: var(--primary-color);
    color: var(--white);
}
.view-more:hover,
.tab-button:not(.active):hover {
    background: #d420281f;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-arrow.left {
    left: -60px;
}
.nav-arrow.right {
    right: -60px;
}
.hidden {
    display: none;
}
/* cards */
.arrive-bg {
    background-color: var(--primary-pink);
    margin-top: -230px;
    padding: 280px 0 96px 0;
}
.heading-arrive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.heading-arrive h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: var(--text-color);
}

.view-more {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 12px 16px;
    border-radius: var(--border-radius);
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 16px;
}

.vehicle-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
    gap: 5px;
}
.vehicle-card {
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
}
.vehicle-hero {
    width: 100%;
    height: 172px;
    object-fit: cover;
    border-bottom: 1px solid #eee;
}
.vehicle-info {
    padding: 16px;
    flex-grow: 1;
    height: 170px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.vehicle-info h3 {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--text-color);
}
.bg-relative .was-price h5,
.specs h4,
.price span,
.vehicle-info p {
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
}
.vehicle-info p span {
    font-weight: 700;
    padding: 0 0 0 2px;
}
.price {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 15px 0;
}

.specs {
    display: flex;
    align-items: center;
}

.specs div {
    display: flex;
    align-items: center;
    gap: 4px;
}
.specs div:first-child {
    border-right: 1px solid #e6e2e2;
    padding: 0 8px 0 0;
}
.specs div:last-child {
    padding: 0 0 0 8px;
}
.stars-main {
    background-color: var(--text-color);
}
.stats-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 48px 0;
    border-radius: 8px;
}

.stat-card {
    color: var(--white);
    padding: 24px;
    gap: 12px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 8px 0px #0000003d;
}

.icon-circle {
    width: 52px;
    height: 52px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.icon-circle i {
    font-size: 26px;
}

.stat-content {
    display: flex;
    flex-direction: column;
}

.stat-number {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}

.stat-text {
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.m-head img {
    width: 100%;
}

.vs-search-btn i {
    display: none;
}
.bg-relative {
    position: relative;
    padding: 96px 0 192px 0;
    background-color: var(--secondary-color);
    clip-path: ellipse(80% 55% at 50% 38%);
    overflow: hidden;
}
.bg-relative .vehicle-grid {
    gap: 32px 5px;
}
.bg-shadow {
    position: absolute;
    top: -20vh;
    left: -16vw;
    background: #d420280a;
    height: 100vh;
    width: 100vw;
    border-radius: 50%;
    z-index: -1;
}
.bg-relative2 {
    position: relative;
    padding: 96px 0 0 0;
    background-color: var(--secondary-color);
    overflow: hidden;
}
.bg-relative2 .bg-shadow2 {
    position: absolute;
    top: 12vh;
    right: -50vw;
    background: #d420280a;
    height: 100vh;
    width: 100vw;
    border-radius: 50%;
}
.bg-relative .price {
    color: var(--success-color);
    padding: 0;
}
.bg-relative .price i {
    font-size: 16px;
    margin: 0 3px 0 0;
}
.bg-relative .was-price {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 4px 0;
}
.vehicle-img-wrapper {
    position: relative;
    overflow: hidden;
}

.vehicle-hero {
    width: 100%;
    display: block;
    border-radius: 8px;
}
.vehicle-badge {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 6px 8px;
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 14px;

    border-radius: var(--border-radius);
    z-index: 2;
}
.vehicle-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 254, 254, 0.4);
    z-index: 1;
    border-radius: 8px;
    pointer-events: none;
}

.how-it-works {
    text-align: center;
}

.how-it-works h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: var(--text-color);
    margin-bottom: 65px;
}

.steps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    max-width: 1200px;
    margin: auto auto 100px auto;
}

.step {
    flex: 1 1 272px;
    max-width: 272px;
    position: relative;
    text-align: center;
}

.circle {
    width: 80px;
    height: 80px;
    position: relative;
    background-color: var(--white);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 80px;
    border-radius: 50%;
    margin: 0 auto 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
}

.step h3 {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
    color: var(--text-color);
}

.step p {
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
}
.curve-arrow {
    position: absolute;
    width: 238px;
    height: auto;
    z-index: 0;
    right: -138px;
}
.arc-2 {
    top: -20px;
}
.arc-4 {
    bottom: 88px;
}
.arrow-1 {
    top: -124px;
    right: -168px;
}

.arrow-2 {
    top: -110px;
    right: -150px;
}
.slider-container {
    background-color: var(--white);
    border-radius: 1.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    overflow: hidden;
    margin: 48px 0;
    position: relative;
}

.slides-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 48px;
    gap: 64px;
}

.testimonial-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.quote-image-wrapper {
    position: relative;
    width: 360px;
    height: 360px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.quote-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    object-fit: cover;
}

.quote-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.star-rating {
    display: flex;
    gap: 2px;
}
.star-rating i {
    font-size: 26px;
    color: #ffbd12;
}
.testimonial-content h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: var(--text-color);
}
.grate-desc {
    font-family: var(--font-heading);
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 36px;
    color: var(--text-color);
}
.date-on {
    font-family: var(--font-heading);

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
}
.dot-navigation {
    display: flex;
}

.nav-button {
    position: static;
}
.dot-ft {
    display: flex;
    align-items: center;
    gap: 22px;
    position: absolute;
    bottom: 65px;
    left: 48px;
}
.hero-section {
    display: flex;
    gap: 24px;
    position: relative;
    z-index: 1;
    height: 584px;
    margin-bottom: 40px;
}
.hero-card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--white);
}
.hero-card img {
    width: 100%;
    display: block;
    object-fit: cover;
}
.large-card {
    flex: 2;
    height: 100%;
}
.large-card img {
    height: 100%;
}

.small-card img {
    height: 100%;
}
.side-cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}
.card-overlay {
    position: absolute;
    bottom: 0;
    display: flex;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    padding: 24px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: end;
    gap: 8px;
}
.large-card .card-overlay {
    padding-top: 80px;
}
.card-overlay .description,
.card-overlay .date {
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--white);
    opacity: 80%;
}
.card-overlay .description {
    width: 80%;
}
.card-overlay h2 {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: var(--white);
}

.vs-select-wrapper:hover:not(:has(.year-range)) {
    background: #f5f4f4;
}

.vs-select-wrapper:hover:not(:has(.year-range)) .select2-container .select2-selection--single .select2-selection__rendered {
    background: #f5f4f4;
}
.vs-select-wrapper:has(.select2-results__option:hover):not(:has(.year-range)) {
    background: var(--white) !important;
}

.vs-select-wrapper:hover:has(.select2-results__option:hover):not(:has(.year-range)) .select2-selection__rendered {
    background: var(--white) !important;
}
.select2-results__option.year-range:hover {
    background: var(--white) !important;
    border-radius: 12px !important;
}
.year-range .vs-select-wrapper:hover {
    background: none !important;
}
.year-range:hover:not(:has(.select2-results__option:hover)) .select2-selection__rendered {
    background: #f5f4f4 !important;
}
.year-range:has(.select2-results__option:hover) .select2-selection__rendered {
    background: var(--white) !important;
}
.year-range .vs-select-wrapper:has(.select2-results__option:hover),
.year-range .vs-select-wrapper:hover:has(.select2-results__option:hover) {
    background: transparent !important;
}
.year-range .vs-select-wrapper:hover:has(.select2-results__option:hover) .select2-selection__rendered {
    background: none !important;
}
.year-range:hover {
    background: #f5f4f4;
}
.year-range:has(.select2-results__option:hover) {
    background: transparent !important;
}
.view-mbl {
    display: none;
}
@media (max-width: 1320px) {
    .nav-arrow.right {
        right: -25px;
    }
}
@media (max-width: 1220px) {
    .container {
        width: 90%;
        overflow: hidden;
    }

    .grid-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .m-head h1 {
        font-size: 38px;
    }

    .vs-search-box {
        width: 94%;
    }

    .nav-arrow.right {
        right: 10px;
    }

    .nav-arrow.left {
        left: 10px;
    }

    .stats-container {
        width: 95%;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
    }

    .main-hero {
        height: 500px;
    }
    .steps {
        flex-direction: column;
        align-items: center;
    }

    .step {
        max-width: 100%;
    }

    .arc-4 {
        transform: rotate(90deg);
        left: -35%;
        top: -100px;
    }
    .arc-2 {
        transform: rotate(90deg);
        right: -35%;
        top: -100px;
    }
    .arc-3 {
        transform: scaleX(-1) rotate(90deg) !important;
        left: -35% !important;
        top: 290% !important;
    }
    .step {
        flex: 1 1 220px;
    }
    .bg-relative {
        clip-path: ellipse(160% 55% at 50% 38%);
    }

    .vehicle-grid {
        display: flex;
        overflow-x: auto;
        gap: 16px;
        margin: 0 auto;
        padding-inline: 16px;
        scroll-snap-type: x mandatory;
    }

    .vehicle-card {
        flex: 0 0 236px; /* Show one full card and part of the second */
        scroll-snap-align: start;
    }

    .steps {
        margin: 0;
    }
}
@media (max-width: 1030px) {
    .vs-search-box {
        margin: -161px auto 0;
    }
    .slide {
        flex-direction: column-reverse;
        gap: 32px;
        padding: 32px;
    }

    .quote-image-wrapper {
        width: 295px;
        height: 295px;
    }

    .testimonial-content h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .grate-desc {
        font-size: 20px;
        line-height: 30px;
    }
    .bg-shadow {
        top: -10vh;
        left: -17vw;
        height: 69vh;
        width: 100vw;
    }
    .dot-ft {
        position: static;
        margin: 24px;
        justify-content: center;
    }
}
@media (max-width: 912px) {
    .m-head h1 {
        font-size: 32px;
    }
}
@media (max-width: 900px) {
    .vs-search-box {
        margin: -130px auto 0;
    }
    .m-head h1 {
        font-size: 48px;
    }
    .tab-button {
        width: 40%;
    }

    .nav-arrow {
        display: none;
    }
    .vs-search-input {
        min-width: 100%;
    }
    .vs-filter-input,
    .vs-search-controls {
        display: grid;
    }
    .vs-dropdown1 button {
        width: 100%;
    }
    .vs-filter-input {
        gap: 12px;
    }
    .vs-search-btn i {
        display: block;
    }
    .nav-button.prev {
        left: -1.25rem;
    }

    .nav-button.next {
        right: -1.25rem;
    }
    .hero-section {
        flex-direction: column;
        height: auto;
    }
    .hero-card {
        height: 200px;
    }
    .large-card {
        flex: none;
    }
    .year-range {
        width: 100%;
    }
    .year-select-wrapper .vs-select-wrapper {
        width: 50% !important;
    }
    .year-select-wrapper {
        justify-content: space-between;
        width: -webkit-fill-available;
    }
    .bg-shadow {
        height: 70vh;
    }
}

@media (max-width: 600px) {
    .stat-card {
        padding: 12px;
        height: 92px;
        position: relative;
        align-items: flex-start;
    }
    .stats-container {
        gap: 8px;
    }
    .word.last {
        display: flex;
        align-items: center;
        height: 48px;
        width: fit-content;
    }
    .stat-text {
        font-size: 14px;
        position: absolute;
        bottom: 8px;
        left: 14px;
    }
    .icon-circle {
        height: 40px;
        width: 40px;
    }
    .stat-number {
        font-size: 24px;
    }
    .stat-text {
        font-size: 14px;
    }
    .grid-wrapper {
        gap: 8px;
    }
    .grid-item {
        padding: 16px 8px;
    }
    .grid-item-title {
        font-size: 14px;
    }
    .vehicle-type-image {
        width: 80%;
    }

    .vehicle-make-image {
        width: 34%;
    }
    .grid-item {
        height: 112px;
    }
    .vs-search-box h2 {
        text-align: center;
    }
    .tab-button-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }
    .vs-year-dropdown .vs-dropdown-menu {
        left: -70px;
    }
    .tab-button {
        width: 100%;
        padding: 13px 10px;
        font-size: 16px;
    }

    .m-head h1 {
        margin: 0;
        font-size: 40px;
        line-height: 60px;
    }
    .arrive-bg {
        padding: 100px 0 100px 0;
    }

    .m-head {
        padding: 20px;
        text-align: left;
    }

    .vs-search-box {
        margin: -268px auto 0;
    }
    .search-main {
        clip-path: ellipse(150% 55% at 50% 38%);
    }

    .step p {
        width: 80%;
        margin: 0 auto;
    }
    .arc-4 {
        left: -18%;
    }
    .arc-2 {
        right: -18%;
    }
    .arc-3 {
        left: -18% !important;
    }
    .heading-arrive {
        justify-content: center;
    }
    .heading-arrive a {
        display: none;
    }
    .vehicle-grid {
        margin-bottom: 40px;
    }
    .view-mbl {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }
    .card-overlay .description {
        width: 80%;
        display: none;
    }

    .heading-arrive {
        margin: 20px 0;
    }
    .icon-circle i {
        font-size: 22px;
    }
    .bg-shadow {
        top: -13vh;
        left: -39vw;
        height: 77vh;
        width: 94vw;
        transform: rotate(87deg);
    }
    .bg-relative2 .bg-shadow2 {
        top: 24vh;
        height: 55vh;
        width: 60vh;
    }
    .grid-wrapper {
        margin: 24px 0;
    }
    .grid-wrapper,
    .search-by {
        padding: 24px 0;
    }
}

@media (max-width: 430px) {
    .bg-relative2 {
        padding: 48px 0;
    }

    .vs-search-box {
        margin: -300px auto 0;
    }

    .logo {
        width: 85px !important;
    }
    .m-head h1 {
        font-size: 28px;
    }
    .search-main {
        clip-path: ellipse(200% 55% at 50% 38%);
    }
    .how-it-works h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .heading-arrive h2 {
        font-size: 24px;
        text-align: center;
    }

    .arrive-bg {
        padding: 200px 0 70px 0;
    }
    .bg-relative {
        padding: 70px 0 100px 0;
    }
    .arrive-bg2 {
        padding: 220px 0 32px 0;
    }
}
@media (max-width: 380px) {
    .testimonial-content h2 {
        font-size: 22px;
    }
    .m-head h1 {
        font-size: 24px;
    }
    .arc-4 {
        left: -26%;
    }
    .arc-2 {
        right: -26%;
    }
    .arc-3 {
        left: -26% !important;
    }
    .grate-desc {
        font-size: 18px;
    }
    .stat-text {
        font-size: 12px;
    }
    .bg-shadow {
        height: 71vh;
        width: 94vw;
        transform: rotate(87deg);
    }
    .arrow-icon {
        display: block;
    }
}
@media (max-width: 350px) {
    .m-head h1 {
        font-size: 22px;
    }
    .vs-search-box {
        margin: -300px auto 0;
    }
    .arc-4 {
        left: -30%;
    }
    .arc-2 {
        right: -30%;
    }
    .arc-3 {
        left: -30% !important;
    }
    .bg-shadow {
        height: 63vh;
        width: 100vw 320px;
        transform: rotate(101deg);
    }
    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .vehicle-make-image {
        width: 20%;
    }
    .grid-wrapper {
        padding: 0 0 100px 0;
    }
    .arrive-bg {
        padding: 130px 0 70px 0;
    }
    .slide {
        padding: 16px;
        gap: 20px;
    }

    .quote-image-wrapper {
        width: 240px;
        height: 240px;
    }
    .quote-icon img {
        width: 50%;
    }
    .quote-icon {
        width: 50px;
        height: 50px;
    }

    .testimonial-content h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .grate-desc {
        font-size: 16px;
        line-height: 24px;
    }

    .date-on {
        font-size: 11px;
    }

    .star-rating i {
        font-size: 20px;
    }
}
